{{{html}}}

<br><br>
<div class="row">
  <div class="col col-md-6 text-right">
    {{#if pageConfig.previus}}
      <a href="/docs/{{../req.params.project}}/{{pageConfig.previus.slugName}}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Previus</a>
    {{/if}}
  </div>
  <div class="col col-md-6">
    {{#if pageConfig.next}}
      <a href="/docs/{{../req.params.project}}/{{pageConfig.next.slugName}}" class="btn btn-default">Next <i class="glyphicon glyphicon-chevron-right"></i> </a>
    {{/if}}
  </div>
</div>